*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 10px;
  margin: 0 auto;
  text-align: center;
}

div {
  display: flex;
  justify-content: center;
}

h1 {
  color: mediumslateblue;
}

.cake {
  max-width: 200px;
}
